.navOverride{
    position: fixed;
    width: 100%;
    background-color: rgba(18, 18, 18, 0) !important;
    z-index: 100;
}

.links{
    color: rgb(229, 224, 224);
}

.links:hover{
    color: rgb(72, 72, 72);
}
@media screen and (max-width:900px) {
    .links{
        color: rgb(229, 224, 224);
        background-color: rgb(7, 69, 88);
        border: 1px solid rgba(0, 0, 0, 0.092);
    }

  
}


