@import "../baseStyles/baseStyles.scss";

.navOverride{
    
    width: 100%;
    background-color: rgba(18, 18, 18, 0) !important;
    z-index: 100;
    position: absolute;
}

.links{
    color: rgb(229, 224, 224);
    font-family: $title-font;
    
    font-size: 20px;
    padding: 20px;
    
}






.navLinkDesktop{
    padding-top: 5vh;
    padding-right: 5vh;
    
}
.hamburgerIcon{
    font-size: 40px;
    color: white;
    
}

.hamburgerIconContainer{
    background-color: rgba(255, 0, 0, 0);
    border: none;
    
}

.logoLink,.hamburgerIconContainer{
    padding-top: 5vh;
    padding-left: 5vw;
}

.links:hover{
    color: $Tone-Blue;
    border-bottom: 2px solid white;
}




@media screen and (max-width:900px) {
    .links{
        color: rgb(229, 224, 224);
        width: 100%;
        height: 10px;
        text-align: right;
        padding: 0px;
       
        
   
      
    
    }

    .links:hover{
        color: none;
        border-bottom: none;
    }
    

    .navLinkDesktop{
        padding-top: 0vh;
        padding-right: 0vh;
        background-color: rgba(43, 43, 43, 0.057);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: .3s ease-in-out;
        text-align: right;
     
    }

   

  
  
}


