
@import "../baseStyles/baseStyles.scss";

.backgroundImageContainer{
    @include ComponentLayout;
    background-image: url("https://previews.dropbox.com/p/thumb/AB2QdCkcEK6rnZi4x-5S7m-1SA4rIPT5okSlRAP1QAeu47N9UazAAVGLq4c0g8Z45I9BkoWS0sHinscAERrPsvGcM3sFZOd-S-IvRD4qx-5PH5IzuqlKb6dKpmFm1Fa05ChRmNcKoesoKW7zJF0aoyqLUG5JGzrI6TUPt98sx-XQQlufkBgYpKGYxJx3A5NKKyeg2i5iBthVT5Zgel_uaYTGGlsR9J6plaEjFydfhKjAqCfXXQz3mAy-KenhtqXtPutIP8F0EQqbjXRX5RI-3PepdpfBF4EI79WJIEJHmQ9OeELsLyOFlDjV3Nwwv9LuZC2FkGm_NSCy-nMWyhrMnTe3dEoL7IteZ8nWhs23n1pf87HFWKdz6B-iSWpQlWghCXQ/p.png");
    background-size: cover;
  
    
}


.infoContainer{
    @include ComponentLayout;
    background-color: rgba(0, 0, 0, 0.453);
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20%;
    
  
    
}

.info{
    width: 70%;
    height: 40%;
    @include flexStyleOne;
    justify-content: space-between;
    max-height: 400px;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.475);
    
}

.info p{
    color: rgba(231, 231, 231, 0.619);
    font-size: 2em;
}
.info h2{
    font-size: 5em;
}
.info h2 span {
    color: $Tone-Blue;
}

.buttonsContainer{
    width: 70%;
    display: flex;
    justify-content: space-between;
    
}

.button{
    @include buttonStyle;
  
}


@media only screen and (max-width: 1000px) {
    .backgroundImageContainer{
       height: 200vh;
        
    }
    
    .infoContainer{
        height: 100%;
        
      
        
    }

    .infoContainer{
        justify-content: center;
        padding-left: 0%;
        width: 100%;
        text-align: center;
    }

    .info p{
        font-size: 2em;
        text-align: center;
    }
    .info h2{
        text-align: center;
        font-size: 3em;
    }


    .info{
        width: 90%;
        height: 60%;
        padding-bottom: 20px;
        justify-content: space-between;
        align-items: center;
    
       
    }

    
  }