
@import "../baseStyles/baseStyles.scss";

.backgroundImageContainer{
    @include ComponentLayout;
    background-image: url("https://images.unsplash.com/photo-1485083269755-a7b559a4fe5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80");
    background-size: cover;
}


.infoContainer{
    @include ComponentLayout;
    background-image: linear-gradient(rgba(26, 26, 26, 0.842),rgba(18, 18, 18, 0.041));
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20%;
    
}

.info{
    width: 70%;
    height: 40%;
    @include flexStyleOne;
    justify-content: space-between;
    max-height: 400px;
}

.info{
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.475);
}

.info p{
    color: rgba(231, 231, 231, 0.619);
    font-size: $SubText-size-Desktop;
}
.info h2{
    font-size: $large-Title-size-Desktop;
}
.info h2 span {
    color: rgba(72, 184, 200, 1);
}

.buttonsContainer{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.button{
    @include buttonStyle;
}

@media only screen and (max-width: 600px) {
    .infoContainer{
        justify-content: center;
        padding-left: 0%;
        text-align: center;
    }

    .info p{
        font-size: $SubText-size-mobile;
        text-align: left;
    }
    .info h2{
        text-align: left;
        font-size: $large-Title-size-mobile;
    }
  }