@import "../baseStyles/baseStyles.scss";


.AboutContainer{
    width: 100%;
    height: 100vh;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.aboutInnerContainer{
    width: 80%;
    height: 100%;
    display: flex;
}


.aboutSectionContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoContainer{
    width: 80%;
    height: 80%;
    padding-left: 10%;
    border-left: 30px solid $Tone-Blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aboutSectionImageContainer{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutImage{
    width: 80%;
    height: 78%;
    box-shadow: 5px 5px 9px $Tone-Blue;
}


.aboutInfoTitle{
    font-size: 3em;
    font-family: $title-font;
}


.aboutText{
    font-size: .8em;
    font-family: $title-font;
    text-align: left;
    line-height: 2;
   
}

.link{
    display: flex;
    font-size: 20px;

   
}

.link:hover{
    color: red;
}

.linkArrow{
    color: $Tone-Blue;
    font-size: 20px;
   
}




@media only screen and (max-width: 1000px){
    
   
    .AboutContainer{
        height: 130vh;
        background-color: rgb(46, 46, 46);
        
    }
    
    .aboutInnerContainer{
        width: 90%;
        height: 100%;
        flex-direction: column;
        justify-content: center;

    }
    
    
    .aboutSectionContainer{
        width: 100%;
        height: 90%;
       
    }
    
    .infoContainer{
        width: 100%;
        height: 90%;
        padding-left: 0%;
        border-left: none;
        border-top: 15px solid $Tone-Blue;
        
    }
    
    .aboutSectionImageContainer{
        display: none;
    }
    
    .aboutImage{
        display: none;
    }
    
    
    .aboutInfoTitle{
        font-size: 3em;
        font-family: $title-font;
        padding-top: 20px;
    }
    
    
    .aboutText{
        font-size: .8em;
        font-family: $title-font;
        text-align: left;
        line-height: 1.5;
       
    }

    
    
    
}



@media only screen and (max-width: 300px){
    
   
    .AboutContainer{
        height: 140vh;
        background-color: rgb(46, 46, 46);
        
    }
    
   
    
    
    .aboutInfoTitle{
        font-size: 2em;
        font-family: $title-font;
    }
    
    
    .aboutText{
        font-size: 5px;
        font-family: $title-font;
        text-align: left;
       
    }

    
    
    
}


