@import "../baseStyles/baseStyles.scss";


.AboutContainer{
    width: 100%;
    height: 100vh;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    max-height: 1000px;
}

.aboutInnerContainer{
    width: 80%;
    height: 100%;
    display: flex;
}


.aboutSectionContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoContainer{
    width: 80%;
    height: 80%;
    padding-left: 10%;
    border-left: 30px solid $Tone-Blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aboutSectionImageContainer{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
   

   
}

.blob{
  background-image: linear-gradient($Tone-Blue,rgba(9, 67, 126, 0.188));
  width: 35%;
  height: 55%;
  border-radius: 31% 69% 19% 81% / 69% 53% 47% 31%;
  position: absolute;
  z-index: 1;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.42);
  max-height: 500px;
  min-height: 400px;
  
}





.infoContainerSectionTitle{
    color: $Tone-Blue;
    font-family: $Subtext-font;
}

.aboutImg{
    width: 100%;
    height: 80%;
    background-color: rgb(66, 64, 64);
    background-image: url("../../public/Images/TraderJoes.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(90%);
    box-shadow: 5px 5px 10px rgba(6, 189, 189, 0.894);
}


.aboutInfoTitle{
    font-size: 3em;
    font-family: $title-font;
    color: white;
}


.aboutText{
    font-size: .8em;
    font-family: $Subtext-font;
    font-weight: 700;
    text-align: left;
    line-height: 2;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.28);
   
}

.link{
    display: flex;
    font-size: 20px;
    font-family: $title-font;

   
}

.link:hover{
    color: rgb(111, 108, 108);

}

.linkArrow{
    color: $Tone-Blue;
    font-size: 20px;
   
}




@media only screen and (max-width: 1000px){
    
   
    .AboutContainer{
        height: 160vh;
        background-image: url("../../public/Images/TraderJoesMobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        
    }
    
    .aboutInnerContainer{
        width: 90%;
        height: 100%;
        flex-direction: column;
        justify-content: center;

    }
    
    
    .aboutSectionContainer{
        width: 100%;
        height: 90%;
       
    }
    
    .infoContainer{
        width: 100%;
        height: 90%;
        padding-left: 0%;
        border-left: none;
        border-top: 15px solid $Tone-Blue;
        
    }
    
    .aboutSectionImageContainer{
       display: none;
        
        
    }
    
    .aboutImage{
        display: none;
    }
    
    
    .aboutInfoTitle{
        font-size: 3em;
        font-family: $title-font;
        padding-top: 20px;
    }
    
    
    .aboutText{
        font-size: .8em;
        font-family: $title-font;
        text-align: left;
        line-height: 1.5;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.892);
       
    }

    
    
    
    
}



@media only screen and (max-width: 300px){
    
   
    .AboutContainer{
        height: 140vh;
        background-color: rgb(46, 46, 46);
        
    }
    
   
    
    
    .aboutInfoTitle{
        font-size: 2em;
        font-family: $title-font;
    }
    
    
    .aboutText{
        font-size: 5px;
        font-family: $title-font;
        text-align: left;
       
    }

    
    
    
}


